@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.header-bg-font{
    font-family: "Playfair Display", Sans-serif;
    font-size: 80px;
    font-weight: 900;
    line-height: 1em;
    color: white;
}
.header-bg-image{
    max-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-bg-p-container{
    padding: 17px 0px 10px 0px;
}
.header-bg-p-font{
    font-size: 18px;
    margin-top: 1rem;
}

.header-bg-button-container{
    display: flex;
    flex-direction: column;
    width: 48%;
   
}
.f-18{
    font-size: 18px;
}
.b-font-family{
    font-family: Arial,  sans-serif;
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.b-style{
    background: #050505;
    border-color: #000000;
    color: #fff;
    border: none;
    padding: 16px 16px 16px 16px;
    border-radius: 40px;
    width: 53%;
}

.btn-round:hover{
    background-color: #050505;
}