{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block site_title %}
          
        {% endblock site_title %}
    </title>
    {% block css-other %}
      
    <!-- CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!-- CDN END -->
    <link rel="stylesheet" href="{% static 'font/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    {% endblock css-other %}


    {% block css-link %}
      
    <!-- PROJE CDN -->
    <link rel="stylesheet" href="{% static 'style/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
    <link rel="stylesheet" href="{% static 'style/footer.css' %}">
    <link rel="stylesheet" href="{% static 'style/signup.css' %}">

    <!-- PROJE CDN END -->
    {% endblock css-link %}

</head>
<body>



    {% block site-content %}
      
    {% endblock site-content %}







    
<!-- SCRİPT SRC -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- SCRİPT SRC END -->

<!-- FONT AWESOME ICON CDN-->
<script src="https://kit.fontawesome.com/a09e04a105.js" crossorigin="anonymous"></script>
<!-- FONT AWESOME ICON CDN END-->

<!-- BOOTSTRAP CDN  -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<!-- BOOTSTRAP CDN END -->

{% block proje-script %}
  

<!-- PROJE SCRİPT SRC -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/counter.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/register.js' %}"></script>
<!-- PROJE SCRİPT SRC END -->
{% endblock proje-script %}

<script>
    $('.nextBtn').on('click',function(){
  var parentRef =  $(this).parent();
  var inputVal = parentRef.find('input').val();
  if(checkLength(inputVal,1)){
    add_remove_effects(parentRef,'shake');
    $('.container').addClass('error');
    return ;
  } else {
    if(checkLength(inputVal,4)){
      return ;
    }
  }
  if(!parentRef.hasClass('lastField')){
   parentRef.addClass('hide'); 
   parentRef.next().addClass('shown').addClass('visible');
   $('.bullets span.active').removeClass('active').next().addClass('active');
  } else {
    $('.container').css('background','#fff').html($('.spinnerWrapper').html());
    setTimeout(function(){
      $('.container').html('<div class="success"><i class="fa fa-check"></i><h2>Account Created</h2></div>');
    },4000);
  }
  $('.container').removeClass('error');
});

function checkLength(data,length){
  data = $.trim(data);
  if(data.length < length){
    return true;
  }
  return false;
}
var add_remove_effects = function(ref,classname){
  var $a = ref.addClass(classname);
  var $b = classname;
    setTimeout(function(){
      $a.removeClass($b);
    },450);     
}
  </script>
</body>
</html>