{% extends "base.html" %}
{% load static %}


{% block css-link %}
<link rel="stylesheet" href="{% static 'style/navbar.css' %}">
<link rel="stylesheet" href="{% static 'style/blog.css' %}">
<link rel="stylesheet" href="{% static 'style/footer.css' %}">
{% endblock css-link %}



{% block site-content %}
    <style>
        .blogDom{
            height: 80vh;
            background: 
                linear-gradient(rgba(62, 55, 255, 0.8), rgba(62, 55, 255, 0.8)),
                url({{blog.cover_image.url}});
            background-position: center;
            background-size: cover;
            padding-left: 0;
            padding-right: 0;
        }
    </style>

    <!-- HEADER -->
    <header class="blogDom blog-detail">
        <!-- NAVBAR -->
        <nav class="container navbar-container">
          {% include "partials/_navbar.html" %}
        </nav>
        <!-- HEADER ORTA KISIM -->
        <section class="container blogDom-behind text-center">
            <!-- SOL TARAF -->
            <div class="row blogDom-behind-row justify-content-center">
                <article class="col-12 blogDom-behind-left">
                    <div class="blogDom-left">
                        <div class="blogDom-left-title">
                            <h1>{{blog.title}}</h1>
                        </div>
                        <div class="blogDom-calendar justify-content-center">
                            <div class="blogDom-calander-border">
                                <div class="blogDom-left-title">
                                    <span>By UNSPOKEN SMILES</span>
                                </div>
                                <div class="blogDom-borderLittle"></div>
                                <div class="blogDom-left-date">
                                    <span><i class="fa-solid fa-calendar-days"></i></span>
                                    <span class="ms-1">{{blog.created_date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </header>

    <!-- MAIN ALAN -->
    <main class="container blogMain">
        <div class="row blogMain-row">
            <section class="col-lg-8 blogMain-left">
                <div class="row blogMain-left-row justify-content-around row-gap-5">
                    <div class="col-12">
                        {{blog.content|safe}}
                    </div>
                    <div class="followUs-icons">
                        <ul class="followUs-icons-lists">
                            <li class="followUs-icons-list-facebook">
                                <a href="#" class="followUs-icons-link">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="followUs-icons-list-linkedin">
                                <a href="#" class="followUs-icons-link">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                            </li>
                            <li class="followUs-icons-list-twitter">
                                <a href="#" class="followUs-icons-link">
                                    <i class="bi bi-twitter-x"></i>
                                </a>
                            </li>
                            <li class="followUs-icons-list-pinterest">
                                <a href="#" class="followUs-icons-link">
                                    <i class="bi bi-pinterest"></i>
                                </a>
                            </li>
                            <li class="followUs-icons-list-message">
                                <a href="#" class="followUs-icons-link">
                                    <i class="bi bi-envelope-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <img src="{% static 'img/Unspoken_Smiles_text_with_icon_white-2.webp' %}" style="background-color: rgba(0, 0, 0, 0.432);" alt="">
                    <div class="blogaltcontainer">
                        <p class="text-center m-0" style="font-size: 26px; color: #3E37FF;font-weight: bold;">View All Posts</p>
                        <div class="iconcontaineralt d-flex justify-content-center align-items-center  w-100 ">
                            <div class="d-flex pt-3 pb-3 justify-content-between align-items-center" style="width: 15%;">
                                <i class="fa-solid fa-circle" style="    font-size: 6px;
                                  color: #3E37FF;"></i>
                                <i class="fa-solid fa-circle" style="    font-size: 6px;
                                  color: #3E37FF;"></i>
                                <i class="fa-solid fa-circle" style="    font-size: 6px;
                                  color: #3E37FF;"></i>
                                <div class="line" style="width: 40px;
                                  height: 4px;
                                  background-color: #3E37FF; border-radius:10px">
                      
                                </div>
                              </div>
                        </div>
                    
                    </div>
                </div>
            </section>
            <section class="col-lg-4 blogMain-right">
           <article class="blogMain-second">
                    <div class="blogMain-allPosts">
                        <div class="row allPosts-content">
                            {% for allblog in blogall  %} 
                            <div class="col-md-6 col-lg-12 allPosts-content-section">
                                <a href="{{allblog.get_absolute_url}}" class="allPosts-content-link">
                                    <div class="allPosts-content-image">
                                        <img src="{{allblog.cover_image.url}}" alt="">
                                    </div>
                                    <div class="allPosts-content-text">
                                        <div class="allPosts-text-title">
                                            <h6>{{allblog.title}}</h6>
                                        </div>
                                        <div class="allPosts-text-subTitle">
                                            <span class="subTitle-day">{{allblog.created_date}}</span>
                                  
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </article>
                <article class="blogMain-third">
                    <div class="blogMain-followUs">
                        <div class="followUs-title blogMain-title">
                            <span>Follow Us On</span>
                        </div>
                        <div class="followUs-icons">
                            <ul class="followUs-icons-lists">
                                <li class="followUs-icons-list-facebook">
                                    <a href="#" class="followUs-icons-link">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="followUs-icons-list-linkedin">
                                    <a href="#" class="followUs-icons-link">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </li>
                                <li class="followUs-icons-list-twitter">
                                    <a href="#" class="followUs-icons-link">
                                        <i class="bi bi-twitter-x"></i>
                                    </a>
                                </li>
                                <li class="followUs-icons-list-pinterest">
                                    <a href="#" class="followUs-icons-link">
                                        <i class="bi bi-pinterest"></i>
                                    </a>
                                </li>
                                <li class="followUs-icons-list-message">
                                    <a href="#" class="followUs-icons-link">
                                        <i class="bi bi-envelope-fill"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </main>

    {% include "partials/_footer.html" %}
    
    <script src="{% static 'js/index.js' %}"></script>

{% endblock site-content %}