{% extends "base.html" %}
{% load static %}
{% block css-link %}
<link rel="stylesheet" href="{% static 'style/donate.css' %}">
<link rel="stylesheet" href="{% static 'style/style.css' %}">
<link rel="stylesheet" href="{% static 'style/navbar.css' %}">
<link rel="stylesheet" href="{% static 'style/footer.css' %}">
{% endblock css-link %}

{% block site-content %}
<style>
    .firstDom{
        height: 80vh;
        background: 
            linear-gradient(rgba(62, 55, 255, 0.8), rgba(062, 55, 255, 0.8)),
            url(static/img/pexels-shelagh-murphy-2883380.jpg);
        background-position: center;
        background-size: cover;
        padding-left: 0;
        padding-right: 0;
    }
    .endContent{
        background: 
            linear-gradient(rgba(62, 55, 255, 0.8), rgba(062, 55, 255, 0.8)),
            url(static/img/pexels-shelagh-murphy-2883380.jpg);
        background-position: center;
        background-size: cover;
    }
    .accordion-button::after{
        background-image: url(static/img/down-arrow\(black\).png);
    }
    .accordion-button:not(.collapsed)::after{
        background-image: url(static/img/down-arrow.png);
    }
</style>
<!-- HEADER -->
<header class="firstDom">
  <!-- NAVBAR -->
  <nav class="container navbar-container">
    {% include "partials/_navbar.html" %}
  </nav>
  <!-- HEADER ORTA KISIM -->
  <section class="container firstDom-behind">
    <!-- SOL TARAF -->
    <div class="row firstDom-behind-row">
      <article class="col-lg-8 firstDom-behind-left">
        <div class="behind-left">
          <div class="behind-left-title">
            <h1>THIS HOLIDAY</h1>
            <h1>SEASON!</h1>
          </div>
          <div class="behind-left-paragraph">
            <h5>Help us create better access to preventative dental care in Costa Rica.</h5>
          </div>
          <div class="behind-left-buttons">
            <div class="behind-left-buttons-join">
              <button>
                <a class="text-decoration-none text-white" href="{% url 'signup' %}">Join us now!</a>
              </button>
            </div>
            <div class="behind-left-butttons-other">
              <button>Other Ways To Give</button>
            </div>
          </div>
        </div>
      </article>
      <!-- SAĞ TARAF -->
      <article class="col-lg-4 firstDom-behind-right">
        <form action="{% url 'payment' %}" method="post">
        <div class="row btn-row">
          {% csrf_token %}
          <div class="col-6 p-0 pe-1"> <button name="oneTime" type="button" id="ot"
              class="btn  btn-outline-dark w-100 donate-btn-outline" onclick="OneTime(this)">One
              Time</button>
            <input type="" class="d-none" name="oneTime" id="ot_input">
          </div>
          <div class="col-6 p-0 "> <button name="monthly" type="button" id="mt" class="btn btn-light w-100 btn-color"
              onclick="Monthly(this)">Monthly</button></div>
          <input type="" class="d-none" name="monthly" id="mt_input">
        </div>
        <div class="row pt-1 btn-row">
          <div class="col-3  p-0 pe-1"> <button type="button" class="btn btn-donate btn-light w-100 btn-color"
              onclick="total25(this)">$25</button></div>
          <div class="col-3  p-0 "> <button type="button" class="btn btn-donate btn-light w-100 btn-color"
              onclick="total50(this)">$50</button></div>
          <div class="col-3  p-0 ps-1 pe-1"> <button type="button" class="btn btn-donate btn-light w-100 btn-color "
              onclick="total100(this)">$100</button>
          </div>
          <div class="col-3 col-sm-3 p-0 "> <button type="button" class="btn btn-donate btn-light w-100 btn-color"
              onclick="total150(this)">$150</button>
          </div>
        </div>
        <div class="row pt-1 btn-row">
          <div class="col-12 p-0">
            <div class="input-group ">
              <span class="input-group-text donate-span">$</span>
              <input type="text" name="price" id="input-donate" class="form-control donate-input shadow-none "
                aria-label="">
                <input type="text" name="donatepath" value="1" class="d-none">
              <span class="input-group-text donate-span">USD</span>
            </div>
          </div>
        </div>
        <div class="row pt-1">
          <div class="col-12 p-0">
            {% for message in messages %}
            {% if 'payment-error' in message.tags %}
            <div class="alert alert-danger text-center">
              {{message}}
            </div>
            {% endif %}
            {% if 'py-success' in message.tags %}
            <div class="alert alert-success text-center">
              {{message}}
            </div>
            {% endif %}
            {% endfor %}
            <button class="w-100 gift-btn mt-3 mb-3 "> <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                height="14px" width="14px" viewBox="0 0 512 512" style="vertical-align: inherit; margin-right: 3px;">
                <path
                  d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z">
                </path>
              </svg>Dedicate This Gift</button>
          </div>
        </div>
        <div class="row pt-1">
          <div class="col-12 p-0">
  
              {% csrf_token %}
            <button class="w-100 donate-btn f-18" type="submit">
              <a class="text-white text-decoration-none" {% if request.user.is_authenticated %} {% else %}
                href="{% url 'signup' %}" {% endif %}>
                DONATE
              </a>
            </button>
          </div>
        </form>
        </div>
      </article>
    </div>
  </section>
</header>

<!-- SECOND CONTAIN -->
<div class="secondContain-back">
  <section class="container secondContain">
    <div class="row secondContai-row">
      <article class="col-lg-6 secondContain-right">
        <div class="secondContain-right-title">
          <h1>Support our life-changing work.</h1>
        </div>
        <div class="secondContain-right-paragraph">
          <h5>100% of your gift will towards the opening of our community dental clinic in Costa Rica.</h5>
        </div>
      </article>
      <article class="col-lg-6 secondContain-left">
        <div class="secondContain-left-paragraph1">
          <p>According to a new <a class="secondContain-left-paragraph-link" href="#">Global Oral Health Status
              Report</a> published on November 21, 2022 by the World Health Organization (WHO), the burden of
            <a class="secondContain-left-paragraph-link" href="#">#OralDisease</a> is at an alarming all-time high and
            requires urgent action.
          </p>
        </div>
        <div class="secondContain-left-paragraph2">
          <p>At <strong>UNSPOKEN SMILES</strong> , we recognize the lack of access to oral healthcare as one of the most
            under-publicized, and simultaneously one of the most detrimental, factors limiting the full potential of
            children in low-income areas.</p>
        </div>
        <div class="secondContain-left-paragraph3">
          <p>With your donation, we can continue investing in the people and systems working to bring dental care to the
            people who need it most.</p>
        </div>
        <div class="secondContain-left-paragraph4">
          <p>Together, we can realize a future of oral health for all.</p>
        </div>
        <div class="secondContain-left-paragraph5">
          <p><strong>UNSPOKEN SMILES is a 501(c)(3) charitable organization, EIN 46-2785474, all contributions are tax
              deductible.</strong></p>
        </div>
      </article>
    </div>
  </section>
</div>

<!-- MAIN CONTENT -->
<div class="mainContent-back">
  <main class="container thirdContain">
    <div class="row">
      <div class="col-12">
        <div class="thirdContain-title">
          <div class="thirdContain-title-baslik mb-4">
            <h3>More ways to give</h3>
          </div>
          <div class="thirdContain-title-border"></div>
        </div>
      </div>
    </div>
    <!-- Main content cart bölümü -->
    <section class="row thirdContain-alt">
      <article class="col-md-6 col-lg-4 thirdContain-col">
        <div class="thirdContain-cart">
          <div class="contain-cart-content">
            <div class="cartContent-icon">
              <i class="fa-solid fa-mobile-screen"></i>
            </div>
            <div class="cartContent-text">
              <h6>Donate via mobile phone</h6>
              <p>Text the code "GIVEUSMILES" to 44-321 to make a contribution from your phone.</p>
            </div>
          </div>
        </div>
      </article>
      <article class="col-md-6 col-lg-4 thirdContain-col">
        <div class="thirdContain-cart">
          <div class="contain-cart-content">
            <div class="cartContent-icon">
              <i class="fa-solid fa-calculator"></i>
            </div>
            <div class="cartContent-text">
              <h6>Give by check or stock</h6>
              <p>We also accept donations by check, stock, money order, and wire transfer.</p>
            </div>
          </div>
        </div>
      </article>
      <article class="col-md-6 col-lg-4 thirdContain-col">
        <div class="thirdContain-cart">
          <div class="contain-cart-content">
            <div class="cartContent-icon">
              <i class="fa-solid fa-users"></i>
            </div>
            <div class="cartContent-text">
              <h6>Start a new Peer-to-Peer page</h6>
              <p>Support one of our many fundraisers raising money for oral health care. </p>
            </div>
          </div>
        </div>
      </article>
      <article class="col-md-6 col-lg-4 thirdContain-col">
        <div class="thirdContain-cart">
          <div class="contain-cart-content">
            <div class="cartContent-icon">
              <i class="fa-solid fa-address-card"></i>
            </div>
            <div class="cartContent-text">
              <h6>Become a Member</h6>
              <p>Give monthly, and you’ll become part of our Leadership Council, a passionate community of supporters
                committed to bringing oral health care to everyone, everywhere.</p>
            </div>
          </div>
        </div>
      </article>
      <article class="col-md-6 col-lg-4 thirdContain-col">
        <div class="thirdContain-cart">
          <div class="contain-cart-content">
            <div class="cartContent-icon">
              <i class="fa-solid fa-user-doctor"></i>
            </div>
            <div class="cartContent-text">
              <h6>Transform a Life</h6>
              <p>Our fellowship program equips women with sustainable careers in dentistry.</p>
            </div>
          </div>
        </div>
      </article>
      <article class="col-md-6 col-lg-4 thirdContain-col">
        <div class="thirdContain-cart">
          <div class="contain-cart-content">
            <div class="cartContent-icon">
              <i class="fa-solid fa-hand-holding-dollar"></i>
            </div>
            <div class="cartContent-text">
              <h6>Give in Honor of Someone</h6>
              <p>Honor or remember someone special by making a gift in their name.</p>
            </div>
          </div>
        </div>
      </article>
    </section>
    <!-- Main content accordion -->
    <section class="row mainContent-accordion">
      <div class="col-lg-6 mainContent-accordionLeft">
        <div class="accordionLeft-title">
          <h1>FREQUENTLY ASKED QUESTIONS</h1>
        </div>
        <div class="accordionLeft-border"></div>
      </div>
      <article class="col-lg-6 mainContent-accordionRight">
        <div class="accordionRight-content">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  I have a question, comment, or concern about my donation. Who can I contact?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                  <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Is my donation tax-deductible?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                  <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this
                  being filled with some actual content.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Will I get a receipt?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                  <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
                  happening here in terms of content, but just filling up the space to make it look, at least at first
                  glance, a bit more representative of how this would look in a real-world application.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                  Is my online donation secure?
                </button>
              </h2>
              <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                  <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
                  happening here in terms of content, but just filling up the space to make it look, at least at first
                  glance, a bit more representative of how this would look in a real-world application.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                  Can I send a check, a gift of stock, or a wire transfer?
                </button>
              </h2>
              <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                  <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
                  happening here in terms of content, but just filling up the space to make it look, at least at first
                  glance, a bit more representative of how this would look in a real-world application.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                  What are the benefits of becoming a monthly donor?
                </button>
              </h2>
              <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                  <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
                  happening here in terms of content, but just filling up the space to make it look, at least at first
                  glance, a bit more representative of how this would look in a real-world application.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                  Can I have my employer match my gift?
                </button>
              </h2>
              <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                  <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
                  happening here in terms of content, but just filling up the space to make it look, at least at first
                  glance, a bit more representative of how this would look in a real-world application.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                  What if my organization is interested in partnering with yours?
                </button>
              </h2>
              <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                  <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
                  happening here in terms of content, but just filling up the space to make it look, at least at first
                  glance, a bit more representative of how this would look in a real-world application.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                  What if my organization is interested in partnering with yours?
                </button>
              </h2>
              <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                  <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
                  happening here in terms of content, but just filling up the space to make it look, at least at first
                  glance, a bit more representative of how this would look in a real-world application.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                  What if my organization is interested in partnering with yours?
                </button>
              </h2>
              <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                  <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
                  happening here in terms of content, but just filling up the space to make it look, at least at first
                  glance, a bit more representative of how this would look in a real-world application.</div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>
  </main>
</div>


<section class="endContent">
  <div class="container endContent-container">
    <div class="row endContent-row">
      <div class="col-lg-9 endContent-text">
        <div class="endContent-text-title">
          <h1>Help us Create Happier, Healthier Futures For All</h1>
        </div>
        <div class="endContent-text-subTitle">
          <p>Join our movement to bring quality oral health care to those in need.</p>
        </div>
      </div>
      <div class="col-lg-3 endContent-button">
        <div class="endContent-btn">
          <button>
            <a href="#donate-yonlendirme">DONATE</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "partials/_footer.html" %}
<script src="{% static 'js/index.js' %}"></script>

<!-- <script src="{% static 'js/donate.js' %}"></script> -->


{% endblock site-content %}