{% extends "base.html" %}
{% load static %}
{% block css-link %}
<link rel="stylesheet" href="{% static 'style/involved.css' %}">
<link rel="stylesheet" href="{% static 'style/navbar.css' %}">
<link rel="stylesheet" href="{% static 'style/footer.css' %}">

{% endblock css-link %}
{% block site-content %}

    <style>
        .involvedDom{
            height: 80vh;
            background: 
                linear-gradient(rgba(62, 55, 255, 0.8), rgba(62, 55, 255, 0.8)),
                url(static/img/pexels-kwaku-griffin-14346814.jpg);
            background-position: center;
            background-size: cover;
            padding-left: 0;
            padding-right: 0;
        }
        .endContent{
            background: 
                linear-gradient(rgba(62, 55, 255, 0.8), rgba(062, 55, 255, 0.8)),
                url(static/img/pexels-shelagh-murphy-2883380.jpg);
            background-position: center;
            background-size: cover;
            margin-top: 5rem;
        }
    </style>

      <!-- HEADER -->
      <header class="involvedDom">
        <!-- NAVBAR -->
        <nav class="container navbar-container">
            {% include "partials/_navbar.html" %}
        </nav>
        <!-- HEADER ORTA KISIM -->
        <section class="container involvedDom-behind">
            <!-- SOL TARAF -->
            <div class="row involvedDom-behind-row">
                <article class="col-lg-8 involvedDom-behind-left">
                    <div class="involvedDom-left">
                        <div class="involvedDom-left-title">
                            <h1>Anyone, anywhere</h1>
                            <h1>can join our</h1>
                            <h1>movement</h1>
                        </div>
                        <div class="involvedDom-left-paragraph">
                            <h5>But there are simple steps you can take right now to make a difference.</h5>
                        </div>
                        <div class="involvedDom-left-buttons">
                            <div class="involvedDom-left-buttons-donate">
                                <button>Donate Today</button>
                            </div>
                            <div class="involvedDom-left-butttons-take">
                                <button>Take Action</button>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </header>

    <!-- MAIN CART YAPISI -->
    <main class="container involved-first">
        <div class="involved-first-header">
            <div class="first-header-title">
                <h1>PRIORITY CAMPAIGNS</h1>
            </div>
            <div class="first-header-border"></div>
        </div>
        <section class="row involved-first-row">
            <article class="col-md-6 col-lg-4 involved-first-col">
                <div class="involved-first-cart">
                    <div class="involved-first-cart-image">
                        <img src="{% static '/img/pexels-darlene-alderson-7971229.jpg' %}" alt="">
                    </div>
                    <div class="involved-first-cart-box">
                        <div class="cart-text">
                            <div class="cart-text-title">
                                <h5>Apply to be Youth Rep at UN</h5>
                            </div>
                            <div class="cart-text-paragraph text-black-50">
                                <p>Applications for the 2023 Unspoken Smiles NGO Youth Delegates at the United Nations are now open until January 24, 2023.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-lg-4 involved-first-col">
                <div class="involved-first-cart">
                    <div class="involved-first-cart-image">
                        <img src="{% static '/img/pexels-karolina-grabowska-6627315.jpg' %}" alt="">
                    </div>
                    <div class="involved-first-cart-box">
                        <div class="cart-text">
                            <div class="cart-text-title">
                                <h5>Take The Unspoken Smiles Pledge</h5>
                            </div>
                            <div class="cart-text-paragraph text-black-50">
                                <p>Dental professional volunteers can pledge to dedicate their time and services to children in need.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-md-8 col-lg-4 involved-first-col">
                <div class="involved-first-cart">
                    <div class="involved-first-cart-image">
                        <img src="{% static '/img/pexels-mary-taylor-5896792.jpg' %}" alt="">
                    </div>
                    <div class="involved-first-cart-box">
                        <div class="cart-text">
                            <div class="cart-text-title">
                                <h5>Join The Leadership Council</h5>
                            </div>
                            <div class="cart-text-paragraph text-black-50">
                                <p>Become a part of our premier annual giving network and help us change lives, together.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>



    <!-- SECTION CART YAPILARI -->
    <section class="container involved-second">
        <div class="row involved-second-row row-gap-4">
            <article class="col-lg-6 involved-second-col">
                <div class="involved-second-box">
                    <div class="boxCart-image">
                        <img src="{% static '/img/pexels-agung-pandit-wiguna-3401403.jpg' %}" alt="">
                    </div>
                    <div class="boxCart-text">
                        <div class="boxCart-text-title">
                                <h4>Join Our Zero Cavity Challenge</h4>
                        </div>
                        <div class="boxCart-text-paragraph mt-3 text-black-50">
                            <p>Join our movement to make dental wellness a priority for vulnerable children in the Americas.</p>
                        </div>
                    </div>
                    <div class="boxCart-buttons">
                        <div class="box-cart-btn">
                            <button type="button">
                                <a class="box-cart-btn-link" href="#">Donate Fund</a>
                            </button>
                        </div>
                        <div class="box-cart-btn">
                            <button type="button">
                                <a class="box-cart-btn-link" href="#">View Details</a>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-lg-6 involved-second-col">
                <div class="involved-second-box">
                    <div class="boxCart-image">
                        <img src="{% static '/img/pexels-agung-pandit-wiguna-3401403.jpg' %}" alt="">
                    </div>
                    <div class="boxCart-text">
                        <div class="boxCart-text-title">
                                <h4>Join Our Zero Cavity Challenge</h4>
                        </div>
                        <div class="boxCart-text-paragraph mt-3 text-black-50">
                            <p>Join our movement to make dental wellness a priority for vulnerable children in the Americas.</p>
                        </div>
                    </div>
                    <div class="boxCart-buttons">
                        <div class="box-cart-btn">
                            <button type="button">
                                <a class="box-cart-btn-link" href="#">Donate Fund</a>
                            </button>
                        </div>
                        <div class="box-cart-btn">
                            <button type="button">
                                <a class="box-cart-btn-link" href="#">View Details</a>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-lg-6 involved-second-col">
                <div class="involved-second-box">
                    <div class="boxCart-image">
                        <img src="{% static '/img/pexels-agung-pandit-wiguna-3401403.jpg' %}" alt="">
                    </div>
                    <div class="boxCart-text">
                        <div class="boxCart-text-title">
                                <h4>Join Our Zero Cavity Challenge</h4>
                        </div>
                        <div class="boxCart-text-paragraph mt-3 text-black-50">
                            <p>Join our movement to make dental wellness a priority for vulnerable children in the Americas.</p>
                        </div>
                    </div>
                    <div class="boxCart-buttons">
                        <div class="box-cart-btn">
                            <button type="button">
                                <a class="box-cart-btn-link" href="#">Donate Fund</a>
                            </button>
                        </div>
                        <div class="box-cart-btn">
                            <button type="button">
                                <a class="box-cart-btn-link" href="#">View Details</a>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-lg-6 involved-second-col">
                <div class="involved-second-box">
                    <div class="boxCart-image">
                        <img src="{% static '/img/pexels-agung-pandit-wiguna-3401403.jpg' %}" alt="">
                    </div>
                    <div class="boxCart-text">
                        <div class="boxCart-text-title">
                                <h4>Join Our Zero Cavity Challenge</h4>
                        </div>
                        <div class="boxCart-text-paragraph mt-3 text-black-50">
                            <p>Join our movement to make dental wellness a priority for vulnerable children in the Americas.</p>
                        </div>
                    </div>
                    <div class="boxCart-buttons">
                        <div class="box-cart-btn">
                            <button type="button">
                                <a class="box-cart-btn-link" href="#">Donate Fund</a>
                            </button>
                        </div>
                        <div class="box-cart-btn">
                            <button type="button">
                                <a class="box-cart-btn-link" href="#">View Details</a>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-lg-6 involved-second-col">
                <div class="involved-second-box">
                    <div class="boxCart-image">
                        <img src="{% static '/img/pexels-agung-pandit-wiguna-3401403.jpg' %}" alt="">
                    </div>
                    <div class="boxCart-text">
                        <div class="boxCart-text-title">
                                <h4>Join Our Zero Cavity Challenge</h4>
                        </div>
                        <div class="boxCart-text-paragraph mt-3 text-black-50">
                            <p>Join our movement to make dental wellness a priority for vulnerable children in the Americas.</p>
                        </div>
                    </div>
                    <div class="boxCart-buttons">
                        <div class="box-cart-btn">
                            <button type="button">
                                <a class="box-cart-btn-link" href="#">Donate Fund</a>
                            </button>
                        </div>
                        <div class="box-cart-btn">
                            <button type="button">
                                <a class="box-cart-btn-link" href="#">View Details</a>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-lg-6 involved-second-col">
                <div class="involved-second-box">
                    <div class="boxCart-image">
                        <img src="{% static '/img/pexels-agung-pandit-wiguna-3401403.jpg' %}" alt="">
                    </div>
                    <div class="boxCart-text">
                        <div class="boxCart-text-title">
                                <h4>Join Our Zero Cavity Challenge</h4>
                        </div>
                        <div class="boxCart-text-paragraph mt-3 text-black-50">
                            <p>Join our movement to make dental wellness a priority for vulnerable children in the Americas.</p>
                        </div>
                    </div>
                    <div class="boxCart-buttons">
                        <div class="box-cart-btn">
                            <button type="button">
                                <a class="box-cart-btn-link" href="#">Donate Fund</a>
                            </button>
                        </div>
                        <div class="box-cart-btn">
                            <button type="button">
                                <a class="box-cart-btn-link" href="#">View Details</a>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>


    <!-- END CONTENT -->

    <section class="endContent">
        <div class="container endContent-container">
            <div class="row endContent-row">
                <div class="col-lg-9 endContent-text">
                    <div class="endContent-text-title">
                        <h1>Help us Create Happier, Healthier Futures For All</h1>
                    </div>
                    <div class="endContent-text-subTitle">
                        <p>Join our movement to bring quality oral health care to those in need.</p>
                    </div>
                </div>
                <div class="col-lg-3 endContent-button">
                    <div class="endContent-btn">
                        <button>
                            <a href="#donate-yonlendirme">DONATE</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "partials/_footer.html" %}
    <script src="{% static 'js/index.js' %}"></script>

{% endblock site-content %}