{% extends "base.html" %}
{% load static %}
{% block css-link %}
<link rel="stylesheet" href="{% static 'style/whyoralhealt.css' %}" />
<link rel="stylesheet" href="{% static 'style/navbar.css' %}">
<link rel="stylesheet" href="{% static 'style/footer.css' %}">
<link rel="stylesheet" href="https://unpkg.com/@splidejs/splide@3.0.8/dist/css/splide.min.css">
{% endblock css-link %}
{% block site-content %}


<style>
  .involvedDom{
      background: 
          linear-gradient(rgba(62, 55, 255, 0.8), rgba(62, 55, 255, 0.8)),
          url(static/img/image1.png);
      background-position: center;
      background-size: cover;
      padding-left: 0;
      padding-right: 0;
  }
  .endContent{
      background: 
          linear-gradient(rgba(62, 55, 255, 0.8), rgba(062, 55, 255, 0.8)),
          url(static/img/pexels-shelagh-murphy-2883380.jpg);
      background-position: center;
      background-size: cover;
      margin-top: 5rem;
  }
</style>

<!-- HEADER -->
<header class="involvedDom">
  <!-- NAVBAR -->
  <nav class="container navbar-container">
      {% include "partials/_navbar.html" %}
  </nav>
  <!-- HEADER ORTA KISIM -->
  <section class="container involvedDom-behind">
      <!-- SOL TARAF -->
      <div class="row involvedDom-behind-row">
          <article class="col-lg-8 involvedDom-behind-left">
              <div class="involvedDom-left">
                  <div class="involvedDom-left-title">
                      <h1>A good smile</h1>
                      <h1>changes absolutely</h1>
                      <h1>everything.</h1>
                  </div>
                  <div class="involvedDom-left-paragraph">
                      <h5>However, the burden of <span><a style="text-decoration: no;" href="https://www.linkedin.com/feed/hashtag/?keywords=oraldisease&highlightedUpdateUrns=urn%3Ali%3Aactivity%3A6999347836739821568"> #OralDisease </a></span> is at an alarming all-time high and requires urgent action.</h5>
                  </div>
                  <div class="involvedDom-left-buttons">
                      <div class="involvedDom-left-buttons-donate">
                          <button>Donate Today</button>
                      </div>
                      <div class="involvedDom-left-butttons-take">
                          <button>Take Action</button>
                      </div>
                  </div>
              </div>
          </article>
      </div>
  </section>
</header>


<div class="container">
  <div class="contentup">
    <div class="group1">
      <div class="rightcontent1">
        <div class="video">
          <iframe width="643" height="360" src="https://www.youtube.com/embed/ZVbdzakkxHY?si=HSRsXW5z4K4DrL9J"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
        <h1>WHY ORAL HEALTH?</h1>
        <h2>
          Oral disease is one of the world’s most pervasive health issues,
          yet it is one of the most overlooked and under-publicized.
        </h2>
        <h5>
          The oral health crisis persists as a result of a lack of access to
          and affordability of quality dental care, particularly for
          vulnerable populations.
        </h5>
        <h6>
          But access to quality dental care can have major impact on
          education, income and health – especially for women and kids.
        </h6>
      </div>
      <div class="carousel">
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <img src="{% static 'img/dt1.jpg' %}" alt="" />
              </li>
              <li class="splide__slide">
                <img src="{% static 'img/dt1.jpg' %}" alt="" />
              </li>
              <li class="splide__slide">
                <img src="{% static 'img/dt1.jpg' %}" alt="" />
              </li>
              <li class="splide__slide">
                <img src="{% static 'img/dt1.jpg' %}" alt="" />
              </li>
              <li class="splide__slide">
                <img src="{% static 'img/dt1.jpg' %}" alt="" />
              </li>
              <li class="splide__slide">
                <img src="{% static 'img/dt1.jpg' %}" alt="" />
              </li>
              <li class="splide__slide">
                <img src="{% static 'img/dt1.jpg' %}" alt="" />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="rightcontent2">
        <h1>WHY IT MATTERS</h1>
        <h6>
          An oral disease is an illness that negatively impacts one’s mouth
          and teeth. They are often caused by plaque, which results from a
          build-up of bacteria in the mouth. Poor oral hygiene, neglect,
          diet, personal habits, tobacco use and alcohol consumption can
          also be root causes of oral diseases. Some of the most common oral
          health diseases are cavities (tooth decay), gum disease
          (periodontal disease), and oral cancer.
        </h6>
        <div class="rc2-group">
          <div class="rc2-g-left">
            <div class="icon-p">
              <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-check"
                viewBox="0 0 16 16">
                <path
                  d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
              </svg>
              <p>
                Oral disease can negatively impact one’s health and quality
                of life as it suggests underlying health issues and also can
                impact other functions throughout the human body.
              </p>
            </div>
            <div class="icon-p">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check"
                viewBox="0 0 16 16">
                <path
                  d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
              </svg>
              <p>Oral disease can affect anyone, anywhere, at any age.</p>
            </div>
          </div>
          <div class="rc2-g-right">
            <div class="icon-p">
              <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-check"
                viewBox="0 0 16 16">
                <path
                  d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
              </svg>
              <p>
                Oral disease is considered the fourth most expensive disease
                to treat. Because of that socioeconomic status poses a
                significant impact on oral health as only two-thirds of the
                world’s population has access to oral care and resources.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="group2">
      <div class="groupbox1">
        <div class="gb1-in">
          <h4>
            Roughly 3.58 billion people worldwide worldwide suffer from oral
            disease.
          </h4>
          <p>
            Of that number, 350 million children are currently living
            untreated tooth decay.
          </p>
          <button type="button2" style="border-radius: 25px 25px 25px 25px">
            <a href="" class="text-white">Support our work</a>
          </button>
        </div>
      </div>
      <div class="groupbox2" style="background-image: url(static/img/ds1.2.png);">
        <h1>How You Can Help</h1>
        <div class="gb2-buttons d-inline-grid">
          <button type="button" style="
                padding: 10px;
                border-radius: 25px 25px 25px 25px;
              ">
            <a href="" class="text-white">Donate</a>
          </button>
          <button type="button" style="
                padding: 10px;
                border-radius: 25px 25px 25px 25px;
              ">
            <a href="" class="text-white">Fundraise</a>
          </button>
          <button type="button" style="
                padding: 10px;
                border-radius: 25px 25px 25px 25px;
              ">
            <a href="" class="text-white">Become a Member</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="contentmid">
    <div class="cm-right">
      <h1>Our Solution</h1>
      <p>Our aim is to create a more equitable future in dental care.</p>
      <p>Oral disease is 100% preventable. </p>
      <p>We believe that awareness, education, and access to quality oral health care are critical to a future without
        it.</p>
      <p>At Unspoken Smiles, we build sustainable, community-based oral health programs in some of the world’s most
        under-resourced areas.</p>
      <p>Through our global network, we offer:</p>
      <button type="button" style="
      background-color: #3E37FF;
      border: 2px solid #3E37FF;
      width: 135px;
      padding: 10px;
      border-radius: 25px 25px 25px 25px;
    ">
        <a href="" class="text-white" style="text-decoration: none;">Learn more</a>
      </button>
    </div>
    <div class="cm-left">
      <div class="cm-l-box1" style="background-image: url(static/img/dv2.png);">
        <p>1.Oral health education through school-based
          partnerships</p>
      </div>

      <div class="cm-l-box2" style="background-image: url(static/img/dv2.png);">
        <span>2.</span>
        <p>
          A Fellowship that empowers
          young women through sustainable careers in dentistry, and
        </p>
      </div>
      <div class="cm-l-box3" style="background-image: url(static/img/dv2.png);">
        <span>3.</span>
        <p>
          Oral health care access for
          disadvantaged communities that would not otherwise have the opportunity to be treated by a dentist in their
          lifetime.
        </p>
      </div>
    </div>
  </div>
  <div class="contentdown" style="background-image: url(static/img/image6-1.jpg)">
    <div class="cd-right">
      <div class="cd-right-in">
        <h1>Help us Create Happier, Healthier Futures For All</h1>
        <p>
          Join our movement to bring quality oral health care to those in
          need.
        </p>
      </div>
    </div>
    <div class="cd-left">
      <button style="
          background-color: black;
          padding: 10px;
          border-radius: 25px 25px 25px 25px;
        ">
        DONATE
      </button>
    </div>
  </div>
</div>

{% include "partials/_footer.html" %}

<script src="https://unpkg.com/@splidejs/splide@3.0.8/dist/js/splide.min.js"></script>
<script
  src="https://unpkg.com/@splidejs/splide-extension-auto-scroll@^0.4.0/dist/js/splide-extension-auto-scroll.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const splide = new Splide(".splide", {
      type: "loop",
      drag: "free",
      focus: "center",
      perPage: 2,
      autoScroll: {
        speed: 1,
      },
    });

    splide.mount();
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
  crossorigin="anonymous"></script>
{% endblock site-content %}