/* GOOGLE FONTS CDN */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

/* BOOTSTRAP CDN ICON */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.navbar-container{
    padding: 15px;
}
.navbar-row{
    margin-right: 0;
    margin-left: 0;
}
/* NAVBAR IMAGE */
.navbar-logo{
    padding-top: 8px;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
}
.navbar-logo-image img{
    width: 80%;
}
/* NAVBAR MENU BOLUMU */
.navbar-menu{
    padding-top: 13px;
    padding-left: 0;
    padding-right: 0;
}
.navbarList{
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: space-between;
}
.dropdown-button{
    border: none;
    background: none;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    transition: color .3s;
}
.navbar-icon{
    color: #fff;
}
/* Navbar Dropdown Menu Css Kodları */
.navbar-dropdown{
    position: relative;
}
.navbar-dropdown-hover{
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background-color: #3E37FF;
    padding: 10px 10px 20px 10px;
    border-radius: 0 0 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transform: translateY(20px);
    transition: all .2s
}
.dropdown-button{
    font-size: 16px;
}
.dropdown-hover-list{
    list-style: none;
    padding-left: 0;
}
.dropdown-link{
    padding-bottom: 10px;
}
.dropdown-link a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    transition: color .3s,font-size .3s;
}
.dropdown-link a:hover{
    color: #F99E45;
    font-size: 16px;
}
.navbar-dropdown:hover .navbar-dropdown-hover{
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    transform: translate(0);
}
.navbar-dropdown:hover .dropdown-button{
    color: #F99E45;
}
.navbar-dropdown:hover .navbar-icon{
    color: #F99E45;
}
/* NAVBAR DONATE BUTTON */
.navbar-donate{
    display: flex;
    justify-content: end;
    align-items: start;
    padding-top: 3px;
    padding-right: 0;
    padding-left: 0;
}
.donateButton{
    background: black;
    color: #fff;
    border: 0px solid black;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    transition: background-color .2s , outline .2s;
}
.donateButton:hover{
    background-color: #3E37FF;
    outline: 2.5px solid #fff;
}

/* Hamburger Menu Icon */
.navbar-hamburger-icon{
    background-color: black;
    padding: 0px 10px;
    display: none;
}
.hamburger-icon{
    color: #fff;
    font-size: 25px;
}
.donateButton-display{
    display: none;
}

/* NAVBAR RESPONSIVE TASARIM CSS KODLAR */
@media(max-width:1200px){
    .navbar-logo-image img{
        width: 100%;
    }
    .navbar-menu{
        padding-top: 0;
        margin-bottom: 5px;
    }
    .navbar-hamburger-icon{
        display: inline-block;
        margin-top: 5px;
        margin-left: 20px;
    }
    .navbar-menu-list {
        max-height: 0;
        transition: max-height 0.3s ease-out;
    }
    .navbarList{
        display: none;
    }
    .navbar-dropdown-hover{
        left: 65%;
    }
    .dropdown-button{
        font-size: 17px;
    }
    /* JS ile menünün açılmasına transation katıldı */
    .responsive.navbar-menu-list .navbarList{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-top: 20px;
        margin-left: 70px;
        text-align: center;
    }
    .responsive.navbar-menu-list {
        max-height: 220px;
    }
}
@media(max-width:992px){
    .navbar-menu{
        margin-top: 25px;
    }
    .navbar-donate{
        margin-top: 20px;
    }
    .responsive.navbarList{
        text-align: start;
    }
    .navbar-dropdown-hover{
        left: 40%;
    }
    .responsive.navbar-menu-list .navbarList{
        text-align: start;
        margin-left: 18px;
    }
}
@media(max-width:768px){
    .navbar-hamburger-icon{
        margin-top: 0;
        margin-left: 10px;
    }
    .donateButton{
        font-size: 13px;
    }
}
@media(max-width:576px){
    .donateButton{
        font-size: 13px;
    }
    .displayNone-buuton{
        display: none;
    }
    .donateButton-display{
        display: block;
    }
    .behind-left-buttons{
        justify-content: center;
    }
}