{% load static %}
<footer>
    <div style="padding-top: 100px;" class="container">
 <div  class="row ">
   
    <div class="col-12 col-sm-6 col-lg-6 col-xl-3 text-center text-md-start ">
        <img class="footerPhoto mt-3 " src="{% static 'img/Unspoken_Smiles_text_with_icon_white-2.webp' %}" alt="">
        <br><br>
        <p style="font-size: 90%;" > UNSPOKEN SMILES is a 501(c)(3) nonprofit corporation with offices in New York and Costa Rica.</p>
        <p >EIN 46-2785474</p>
    </div>

    <div class="col-12 col-sm-6 col-lg-6 col-xl-3 text-center text-md-start">
        <h4 style="font-weight: 600;" class="pt-2">Contact Information</h4>
        <div class="footerBorder m-auto m-md-0"></div>
        <br><br>
        <div class="containerLocation d-flex justify-content-center justify-content-lg-start ">
            <div class="footerLocationBox">
        <div class="footerLocation d-flex"><i style="color: rgb(59,55,221); font-size: 120%;" class="bi bi-geo-alt"></i><p style="line-height: 20px;" class="ps-3 m-0 aa">26 Broadway, New York NY 10004</p></div>
        <div class="footerLocation d-flex"><i style="color: rgb(59,55,221); font-size: 120%;" class="bi bi-telephone-outbound"></i><p class="ps-3 m-0 aa">+1 (646) 980-0045</p></div>
        <div class="footerLocation d-flex"><i style="color: rgb(59,55,221); font-size: 120%;" class="bi bi-envelope"></i><p class="ps-3 m-0 aa">info@unspokensmiles.org</p></div>
    </div>
    </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-6 col-xl-3 text-center text-md-start">
        <h4 style="font-weight: 600;" class="pt-2">Office Location</h4>
        <div class="footerBorder m-auto m-md-0"></div>
        <br>
        <div class="footerOffice">
            <i class="bi bi-geo-alt-fill footerOfficei1 "></i><!-- KONUM OLAYI KALDI -->
            <i class="bi bi-geo-alt-fill footerOfficei2"></i>
            <img class="footerOfficeImg" src="{% static 'img/unbound-img030.webp' %}" alt="">
        </div>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-6 col-xl-3 text-center text-md-start">
        <h4 style="font-weight: 600;" class="pt-2">Quick Links</h4>
        <div class="footerBorder m-auto m-md-0"></div>
        <br>
        <ul class="linksUl" style="padding-left:0;">
        <li style="list-style: none;font-weight: 700;"><a href="">Donate</a></li>
        <li style="list-style: none;font-weight: 700;"><a href="">Partner With Us </a></li>
        <li style="list-style: none;font-weight: 700;"><a href="">Take The Pledge </a></li>
        <li style="list-style: none;font-weight: 700;"><a href="">Take Action </a></li>
        <li style="list-style: none;font-weight: 700;"><a href="">Shop</a></li>
        <li style="list-style: none;font-weight: 700;"><a href="">Volunteer</a></li>
    </ul>
</div>

</div>
</div>
 </div>
 <div style="background-color: rgb(68,68,68);" class="container-fluid p-2">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-6 ">
                <p class="text-center text-lg-start" style="font-weight: 500;">Subscribe us for more update & news !!</p>
                <div class="footerInputBox row m-auto m-lg-0">
                    <input class="footerInput ps-2 col-12 col-lg-8" type="text" placeholder="Enter Your Email...">
                    <button class="p-2 col-12 col-lg-4">Subscribe</button>
                </div>

            </div>
        <div class="col-12 col-sm-12 col-lg-6 text-center text-lg-end">
        
            <div class="col-12 pt-2">
                    <div class="socialBox ps-2 pe-2">
                     <a class="socialHref" href=""><i class="bi bi-facebook"></i></a> </div>
                     <div class="socialBox ps-2 pe-2">
                      <a class="socialHref" href=""><i class="bi bi-twitter"></i></a>  </div>
                      <div class="socialBox ps-2 pe-2">
                       <a href="" class="socialHref"> <i class="bi bi-instagram"></i></a> </div>
                       <div class="socialBox ps-2 pe-2">
                        <a href="" class="socialHref"><i class="bi bi-youtube"></i></a>  </div>
                        <div class="socialBox ps-2 pe-2">
                          <a href="" class="socialHref"><i class="bi bi-twitch"></i></a>  </div>                                 
            </div>
            <div class="col-12 pt-2">
                <div class="row justify-content-center justify-content-lg-end">
                    <div class="column-gap-5"></div>
                    <div class="col-3 ">
                        <a href="" class="footerPolicy">Privacy Policy</a>
                    </div>
                    <div class="col-3"><a href="" class="footerPolicy">Terms & Condition</a></div>
                    <div class="col-1"><a href="" class="footerPolicy">Faq</a></div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<p class="pt-4 text-center">Copyright © 2015-2023 UNSPOKEN SMILES. All rights reserved.</p>
</div>
</footer>