{% extends "base.html" %}
{% load static %}
{% block css-link %}
<link rel="stylesheet" href="{% static 'style/profil.css' %}">
<link rel="stylesheet" href="{% static 'style/navbar.css' %}">
<link rel="stylesheet" href="{% static 'style/footer.css' %}">
{% endblock css-link %}

{% block site-content %}
    <style>
        .profile{
            background:
                linear-gradient(rgba(62, 55, 255, 0.8), rgba(062, 55, 255, 0.8)),
                url(static/img/pexels-shelagh-murphy-2883380.jpg);
            background-position: center;
            background-size: cover;
            padding-left: 0;
            padding-right: 0;
        }
    </style>

    <header class="profile">
        <nav class="container navbar-container">
            {% include "partials/_navbar.html" %}
        </nav>
        <main class="container hesap-container">
            <section class="row hesap-row">
                <article class="col-lg-3 hesap-left">
                    <div class="hesap-left-content">
                        <div class="leftContent-header">
                            <div class="leftContent-header-user">
                                <div class="headerUser-text text-center">
                                    <h6 class="headerUser-text-title">Hoş Geldiniz</h6>
                                    <h6 class="header-user-name">{{request.user|title}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="left-content-altHeader">
                            <div class="altHeader-title">
                                <h6>Hesabım</h6>
                            </div>
                            <div class="altHeader-subTitle">
                                <ul class="subTitle-hesaplist">
                                    <li class="subTitle-hesapList-link">
                                        <i class="left-icons fa-solid fa-user"></i>
                                        <a class="right-link" href="{% url 'profil' %}">Üyelik Bilgilerim</a>
                                    </li>
                                    <li class="subTitle-hesapList-link">
                                        <i class="left-icons fas fa-sign-out-alt"></i>
                                        <a class="right-link right-link-not" href="{% url 'logout' %}"><strong>Güvenli Çıkış</strong></a>
                                    </li>
                                    <li class="subTitle-hesapList-link">
                                        <i class="left-icons fa-solid fa-user-slash"></i>
                                        <a class="right-link right-link-not" href="{% url 'delete' %}"><strong>Hesabımı Sil</strong></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-9 hesap-right pt-4 pt-lg-3">
                        <div class="hesap-right-content">
                            <div class="right-content-title text-center">
                                <h3>BAĞIŞLARIM</h3>
                            </div>
                            <div class="help mt-4">
                                <div class="row help-row text-center">
                                    <div class="col-4 help-type">
                                        <h5 class="help-row-h5">Bağış Türü</h5>
                                    </div>
                                    <div class="col-4 help-date">
                                        <h5 class="help-row-h5">Bağış Tarihi</h5>
                                    </div>
                                    <div class="col-4 help-tutar">
                                        <h5 class="help-row-h5">Bağış Tutarı</h5>
                                    </div>
                                </div>
                                {% for Donate  in Donates  %}
                                  
                                <div class="row help-all text-center mt-3">
                                    <div class="col-4 help-type-content">
                                        <span>{{Donate.donation_type.title}}</span>
                                    </div>
                                    <div class="col-4 help-date-content">
                                        <span>{{Donate.created_date}}</span>
                                    </div>
                                    <div class="col-4 help-tutar-content">
                                        <span>{{Donate.quantity}}$</span>
                                    </div>
                                </div>
                                {% empty %}
                                <h1 class="text-center pt-4 ">Henüz Bağışınız Yok Bağış Yapmak için <strong> 
                                    > 
                                    <a class="text-decoration-none text-white " href="{% url 'donate' %}">Donate</a>
                                    </strong>
                                    <
                                    </h1>

                                {% endfor %}
                         
                                </div>
                      

                            </div>
                        </div>
                </article>
            </section>
        </main>
    </header>


    {% include "partials/_footer.html" %}
    <script src="{% static 'js/index.js' %}"></script>

{% endblock site-content %}