{% extends "base.html" %}
{% load static %}

{% block site-content %}


<div class="container d-flex align-items-center justify-content-center flex-column" style="height: 100vh;">


  <form action="{% url 'signup' %}" method="post">

    {% for message in messages %}
    {% if 'signup-error' in message.tags %}
      <div class="alert alert-danger">
        {{message}}
      </div>
    {% endif %}

  {% endfor %}
  
 






    {% csrf_token %}
    <input type="text" name="isim" placeholder="İsim">
    <input type="text" name="soyisim" placeholder="Soyisim">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="password" placeholder="Şifre">
    <button type="submit">
      Kayıt Ol
    </button>
  </form>

  <p class="pt-4">Hesabın varmı Giriş yap</p>



  {% for message in messages %}
  {% if 'signin-error' in message.tags %}
    <div class="alert alert-danger">
      {{message}}
    </div>
  {% endif %}


{% endfor %}
  <form action="{% url 'signin' %}" method="post">
    {% csrf_token %}
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="password" placeholder="Şifre">
    <button type="submit">
      Giriş yap
    </button>
  </form>
</div>
{% endblock site-content %}