{% extends "base.html" %}
{% load static %}

{% block site-content %}
<div class="container">
    <div class="bullets">
      <span class="active"></span>
      <span></span>
      <span></span>
    </div>
    <div class="form">
      <div class="title">
        Register
      </div>    
      <div class="row visible">
        <input type="text" placeholder="Username" />
        <div class="fa fa-user"></div>
        <div class="nextBtn"><i class="fa fa-chevron-right"></i></div>
      </div>
      <div class="row">
        <input type="text" placeholder="Email" />
        <div class="fa fa-envelope"></div>
        <div class="nextBtn"><i class="fa fa-chevron-right"></i></div>
      </div> 
      <div class="row lastField">
        <input type="password" placeholder="Password" />
        <div class="fa fa-key"></div>
        <div class="nextBtn"><i class="fa fa-chevron-right"></i></div>
      </div>     
    </div>
  </div>
  <div class="spinnerWrapper" style="display:none;">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
       <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
  </div>

 
{% endblock site-content %}
