{% extends "base.html" %}
{% load static %}

{% block site-content %}


<div class="container">
  <form class="registerForm" action="{% url 'signup' %}" method="post">

    {% for message in messages %}
    {% if 'signup-error' in message.tags %}
      <div class="alert alert-danger">
        {{message}}
      </div>
    {% endif %}

  {% endfor %}
    {% csrf_token %}
    <section class="login-panel">
      <div class="right-side">
        <h1>Sign Up</h1>
        <p>Sign up and get a free pressent</p>
        <input type="text" name="isim" id="" placeholder="Name">
        <input type="text" name="soyisim" id="" placeholder="Surname">
        <input type="email" name="email" id="" placeholder="Email">
        <input type="password" name="password" id="" placeholder="Password">
        <input type="submit" value="let's go" class="submit-btn">
      </div>
    </section>
  </form>
  <div class="or">
    <p>OR</p>
  </div>

  <form class="registerForm ms-auto" action="{% url 'signup' %}" method="post">

    {% for message in messages %}
    {% if 'signup-error' in message.tags %}
      <div class="alert alert-danger">
        {{message}}
      </div>
    {% endif %}

  {% endfor %}
    {% csrf_token %}
    <section class="login-panel">
      <div class="right-side ">
        <h1>Login</h1>
        <p>Login and continue the goodness</p>
        <input type="text" name="isim" id="" placeholder="Name">
        <input type="password" name="password" id="" placeholder="Password">
        <input type="submit" value="let's go" class="submit-btn">
      </div>
    </section>
  </form>
</div>
  
{% endblock site-content %}